
:root {
  --background: #000000;
  --card-bg: #1e1e1e;
  --accent: #2d2d2d;
  --text-color: #ffffff;
  --shadow-dark: rgba(0, 0, 0, 0.6);
  --shadow-light: rgba(255, 255, 255, 0.277);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon {
  color: var(--text-color);
}

.container {
  width: 500px;
  height: 80vh;
  background-color: var(--card-bg);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  margin-top: 3rem;
}

.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: var(--text-color);
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: var(--text-color);
  font-size: 4em;
  text-align: center;
  font-weight: 900;
}

.more-info-label {
  color: var(--text-color);
  font-size: 1.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.more-info-container {
  flex: 1;
  background-color: var(--accent);
  border-radius: 20px;
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: row; /* Agora o ícone fica ao lado do texto */
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.info-block-label span {
  color: var(--text-color);
  font-size: 0.8em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
}

.search {
  margin-top: 2em;
  text-align: center;
}

.search input {
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
  color: #000000;
  font-size: 0.8em;
  text-align: center;
  width: 70%;
}

.search-icon {
  margin-left: 1em;
}
